<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/assets/weather-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">

        {{>header}}

        <div class="error-position">
            <h1>{{message}}</h1>
        </div>
        
    </div>

    {{>footer}}

</body>

</html>