<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <footer>
        <div class="footer-text">Created by : {{creator}}</div>
    </footer>

</body>

</html>