<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="nav">
        <ul class="menu-list">
            <li class="menu-item-container"><a class="menu-item" href="/">Home</a></li>
            <li class="menu-item-container"><a class="menu-item" href="/about">About</a></li>
            <li class="menu-item-container"><a class="menu-item" href="/help">Help</a></li>
        </ul>
    </div>
        <h1>{{title}}</h1>

</body>

</html>